src/config/*.js
.db
.tmp
.sass-cache
.idea
*~
#*
.#*

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Logs
######################
*.log
